body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    width: 5rem;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 1rem;
}
.container{
    margin-left: 20px;
}