.box-1{
    background-color: greenyellow;
    height: 100px;
    width: 100%;
    border: solid;
    margin-bottom: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.box{
    height: 160px;
}
.box:nth-child(1){
    background-color: yellow;
    width: 160px;
}
.box:nth-child(2){
    width: 700PX;
    margin-left: 5PX;
}
.oren{
    background-color: orange;
}
.biru{
    background-color: aqua;
}

